
@font-face {
  font-family: "Roboto";
  src: url('./assets/font/Roboto-Bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: url('./assets/font/Roboto-Regular.woff') format('woff');
  font-weight: 400;
}